/*color palette: 
pink: #F7CED9
l blue: #B3D4F3
green: #D4E5CA
*/
.title{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 4rem;
	padding-top: 0.75rem;
}

.banner{
	height: 6rem;
	position: fixed;
	background-color: transparent;
	z-index: 10;
	box-shadow: none;
}

.parallax-container{
	height: 875px;
}
body {
	background-color:#1C1C1C;
}


h1{
	color: #D4E5CA;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 4rem;
}

.menu{
	position: fixed;
}


.topIcon{
	padding-top: 0;
	padding-bottom: 0;
	max-width: 40px;
	max-height: 40px;

}

.topList{
	padding-bottom: 0;
	margin-top: 1.5rem;
	height:0px;
}
.list{
	opacity: 0;
}

.explore{
	cursor: pointer;
}